@import "login.css";
.login_m{width: 553px;margin:0 auto;padding-top: 12px;}
.btn-send-code{
	position:absolute;
	right: 2px;
	top: 31px;
}
.label-checkbox{
	float: left;
	padding: 15px;
	height: 100%;
	width: 10px;
}
.checkbox{
	display: block;
}