h1, h2, h3, h4, h5, h6, div, ul, li, dl, dt, dd, ol, pre, form, fieldset, input, textarea, p, blockquote, th, td, hr, img, select {
	padding: 0;
	margin: 0;
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
}
html, body {
	padding: 0;
	margin: 0;
	font-family: 'Microsoft Yahei', "å¾®è½¯é›…é»‘", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
	color: #666;
	font-size: 14px;
	position: relative;
}
ul,ol{
	list-style: none
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: 0
}

a:hover {
	cursor: pointer;
}

em, i {
	font-style: normal
}

img {
	border: 0px;
	vertical-align: middle;
}

.col:after {
	content: " ";
	display: block;
	clear: both;
}

.col .col1, .col .col2, .col .col3, .col .col4, .col .col5, .col .col6, .col .col7, .col .col8, .col .col9, .col .col10, .col .col11, .col .col12,
.col .col01,.col .col02,.col .col03, .col .col04, .col .col05,.col .col06,.col .col07,.col .col08,.col .col09,.col .col010
{
	float: left;
	display: inline-block;
	clear: right;
	height:100%
}

.col .col1 {
	width: 8.33%
}

.col .col2 {
	width: 16.66%
}

.col .col3 {
	width: 25%
}

.col .col4 {
	width: 33.33%
}

.col .col5 {
	width: 41.67%
}

.col .col6 {
	width: 50%
}

.col .col7 {
	width: 58.33%
}


.col .col8 {
	width: 66.66%
}

.col .col9 {
	width: 75%
}
.col .col10 {
	width: 83.33%
}

.col .col11 {
	width: 91.66%
}
.col .col01 {
	width: 10%
}
.col .col02 {
	width: 20%
}
.col .col03 {
	width: 30%
}
.col .col04 {
	width: 40%
}
.col .col05 {
	width: 50%
}
.col .col06 {
	width: 60%
}
.col .col07 {
	width: 70%
}
.col .col08 {
	width: 80%
}
.col .col09 {
	width: 90%
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clr:after{
	content: " ";
	display: block;
	clear: both;
}
.fw12 {
	width: 100%;
}

.fw11 {
	width: 91.66666666666666%;
}

.fw10 {
	width: 83.33333333333334%;
}

.fw9 {
	width: 75%;
}

.fw8 {
	width: 66.66666666666666%;
}

.fw7 {
	width: 58.333333333333336%;
}

.fw6 {
	width: 50%;
}

.fw5 {
	width: 41.66666666666667%;
}

.fw4 {
	width: 33.33333333333333%;
}

.fw3 {
	width: 25%;
}

.fw2 {
	width: 16.666666666666664%;
}

.fw1 {
	width: 8.333333333333332%;
}

.fw0 {
	width: 0;
}

.fh100 {
	height: 100%
}
.fh90 {
	height: 90%
}
.fh80 {
	height: 80%
}
.fh70 {
	height: 70%
}
.fh60 {
	height: 60%
}
.fh50 {
	height: 50%
}
.fh40 {
	height: 40%
}
.fh30 {
	height: 30%
}
.fh20 {
	height: 20%
}
.fh10 {
	height: 10%
}
.bd {
	border: 1px solid #e1e1e1
}

.bd-no {
	border: 0 !important
}

.bd-no-top {
	border-top: 0;
}

.bd-no-bottom {
	border-bottom: 0;
}

.bd-no-left {
	border-left: 0
}

.bd-no-right {
	border-right: 0
}

.bd-bottom {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e1e1e1;
}

.bd-top {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top: 1px solid #e1e1e1;
}
.bd-top-bottom {
	border-top: 1px solid #e1e1e1;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e1e1e1
}

.bd-left {
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 1px solid #e1e1e1
}

.bd-right {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 1px solid #e1e1e1
}

.bd-dotted {
	border-style: dotted;
}

.bd-dashed {
	border-style: dashed;
}

.bd-1 {
	border-width: 1px;
}

.bd-2 {
	border-width: 2px;
}

.bd-3 {
	border-width: 3px;
}

.bd-4 {
	border-width: 4px;
}
.bd-radius-per-50 {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-bordder-radius: 50%;
	-o-user-select: 50%;
}
.bd-radius-per-30 {
	border-radius: 30%;
	-moz-border-radius: 30%;
	-webkit-bordder-radius: 30%;
	-o-user-select: 30%;
}
.bd-radius-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-bordder-radius: 5px;
	-o-user-select: 5px
}

.bd-radius-3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-bordder-radius: 3px;
	-o-user-select: 3px
}

.bd-radius-2 {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-bordder-radius: 2px;
	-o-user-select: 2px;
}

.t-overflow{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
}
.t-clip{
	text-overflow:clip;
	overflow: hidden;
	white-space:nowrap;
}
.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}
.t2 {
	text-indent: 32px;
}
.block{
	display: block;
}
.show {
	display: inherit;
}
.none {
	display: none;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
.relative {
	position: relative;
}
.abs {
	position: absolute;
}
.abs-auto {
	position: absolute;
	left: auto;
	top: auto;
}
.abs-right{
	position: absolute;
	left: auto;
	top: 0px;
}
.abs-bottom{
	position: absolute;
	left: 0px;
	top: auto;
}
.z0 {
	z-index: 0;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z3 {
	z-index: 3;
}

.z4 {
	z-index: 4;
}
.op0 {
	opacity: 0;
}

.op1 {
	opacity: .1;
}

.op2 {
	opacity: .2;
}

.op3 {
	opacity: .3;
}

.op4 {
	opacity: .4;
}

.op5 {
	opacity: .5;
}

.op6 {
	opacity: .6;
}

.op7 {
	opacity: .7;
}

.op8 {
	opacity: .8;
}

.op9 {
	opacity: .9;
}

.op10 {
	opacity: 1;
}
/*font-size*/
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px; }
.fs20{font-size: 24px; }
.fs24{font-size: 24px; }
.fs28{font-size: 28px;}
.fs32{font-size: 32px;}

/*5*/
.m5{margin:5px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mlr5{margin-left:5px;margin-right:5px;}
.mtb5{margin-bottom:5px;margin-top:5px;}
/*8*/
.m8{margin:8px;}
.mt8{margin-top:8px;}
.mb8{margin-bottom:8px;}
.ml8{margin-left:8px;}
.mr8{margin-right:8px;}
.mlr8{margin-left:8px;margin-right:8px;}
.mtb8{margin-bottom:8px;margin-top:8px;}
/*10*/
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mlr10{margin-right:10px;margin-left:10px;}
.mtb10{margin-bottom:10px;margin-top:10px;}
/*20*/
.m20{margin:20px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.mt20{margin-top:20px;}
.mlr20{margin-right:20px;margin-left:20px}
.mtb20{margin-bottom: 20px;margin-top:20px;}
/*30*/
.m30{margin:30px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.ml30{margin-left:30px;}
.mr30{margin-right:30px;}
.mlr30{margin-right:30px;margin-left:30px}
.mtb30{margin-bottom:30px;margin-top:30px;}
/*40*/
.m40{margin:40px;}
.mt40{margin-top:40px;}
.mb40{margin-bottom:40px;}
.ml40{margin-left:40px;}
.mr40{margin-right:40px;}
.mlr40{margin-right:40px;margin-left:40px;}
.mtb40{margin-bottom:40px;margin-top:40px;}
/*50*/
.m50{margin:50px}
.mt50{margin-top:50px}
.mb50{margin-bottom:50px}
.ml50{margin-left:50px}
.mr50{margin-right:50px}
.mlr50{margin-right:50px;margin-left:50px;}
.mtb50{margin-bottom:50px;margin-top:50px;}

/*p5*/
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.plr5{padding-left:5px;padding-right:5px;}
.ptb5{padding-bottom:5px;padding-top:5px;}
/*p8*/
.p8{padding:8px;}
.pt8{padding-top:8px;}
.pb8{padding-bottom:8px;}
.pl8{padding-left:8px;}
.pr8{padding-right:8px;}
.plr8{padding-left:8px;padding-right:8px;}
.ptb8{padding-bottom:8px;padding-top:8px;}
/*p10*/
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.plr10{padding-right:10px;padding-left:10px;}
.ptb10{padding-bottom:10px;padding-top:10px;}
/*p20*/
.p20{padding:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pt20{padding-top:20px;}
.plr20{padding-right:20px;padding-left:20px}
.ptb20{padding-bottom: 20px;padding-top:20px;}
/*p30*/
.p30{padding:30px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pl30{padding-left:30px;}
.pr30{padding-right:30px;}
.plr30{padding-right:30px;padding-left:30px}
.ptb30{padding-bottom:30px;padding-top:30px;}
/*p40*/
.p40{padding:40px;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}
.pl40{padding-left:40px;}
.pr40{padding-right:40px;}
.plr40{padding-right:40px;padding-left:40px;}
.ptb40{padding-bottom:40px;padding-top:40px;}
/*p50*/
.p50{padding:50px}
.pt50{padding-top:50px}
.pb50{padding-bottom:50px}
.pl50{padding-left:50px}
.pr50{padding-right:50px}
.plr50{padding-right:50px;padding-left:50px;}
.ptb50{padding-bottom:50px;padding-top:50px;}

/*line-height*/
.lh10{line-height: 10px;}
.lh20{line-height: 20px;}
.lh30{line-height: 30px;}
.lh35{line-height: 35px;}
.lh40{line-height: 40px;}
.lh45{line-height: 45px;}
.lh50{line-height: 50px }
.lh60{line-height: 60px;}
/*height*/
.h10{height: 10px;}
.h20{height: 20px;}
.h30{height: 30px;}
.h35{height: 35px;}
.h40{height: 40px;}
.h45{height: 45px;}
.h50{height: 50px }
.h60{height: 60px;}

/*width*/
.w10{width: 10px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w35{width: 35px;}
.w40{width: 40px;}
.w45{width: 45px;}
.w50{width: 50px }
.w60{width: 60px;}

.ease{
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.bounceIn{
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
	-moz-transition: all .2s cubic-bezier(1.000, -0.530, 0.405, 1.425);;
	-o-transition: all .2s cubic-bezier(1.000, -0.530, 0.405, 1.425);;
	-webkit-transition: all .2s cubic-bezier(1.000, -0.530, 0.405, 1.425);;
	transition: all .2s cubic-bezier(1.000, -0.530, 0.405, 1.425);;
}

.t-success {
	color: #a8bc7b;
}
.t-success:focus {
	color: #92ab59;
}
.t-info {
	color: #70afc4;
}
.t-info:hover,
.t-info:focus {
	color: #4c9bb5;
}
.t-warning {
	color: #f0ad4e;
}
.t-warning:hover,
.t-warning:focus {
	color: #ec971f;
}
.t-danger {
	color: #d9534f;
}
.t-danger:hover,
.t-danger:focus {
	color: #c9302c;
}
[v-cloak]{
	display:none;
}
a.a-wrap{
	display: block;
}
.wrap{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#pageLoad{
	opacity: .2;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 2000;


}
.loader {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	align-items: center;
	justify-content: center;
}
.loading{
	position:relative;
	min-height: 50px;
}
.loading:after{
	content: "";
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index: 99;
	background-color: rgba(0,0,0,0.3);
}
.loading:before{
	content: "";
	position:absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	z-index: 100;
	margin-left: -20px;
	margin-top: -20px;
	color:#fff;
	background: url(/public/images/bars.svg) no-repeat;
	background-size: 100%;
}


.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
	-webkit-animation-delay: 0.4s !important;
	animation-delay: 0.4s !important;
}

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
	-webkit-animation-delay: 0.2s !important;
	animation-delay: 0.2s !important;
}
.line-scale-pulse-out > div {
	background-color: #fff;
	width: 4px;
	height: 35px;
	border-radius: 2px;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block;
	-webkit-animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(.85, .25, .37, .85);
	animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(.85, .25, .37, .85);
}
#pageLoad .loader {
	max-width: 25%;
	height: 200px;
}

@-webkit-keyframes line-scale-pulse-out {
	0% {
		-webkit-transform: scaley(1);
		transform: scaley(1); }

	50% {
		-webkit-transform: scaley(0.4);
		transform: scaley(0.4); }

	100% {
		-webkit-transform: scaley(1);
		transform: scaley(1); } }

@keyframes line-scale-pulse-out {
	0% {
		-webkit-transform: scaley(1);
		transform: scaley(1); }

	50% {
		-webkit-transform: scaley(0.4);
		transform: scaley(0.4); }

	100% {
		-webkit-transform: scaley(1);
		transform: scaley(1);
	}
}
